<header class="navbar">
  <div class="container">
    <h1 class="brand">Sneaker Shop</h1>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/products">Shoes</a></li>
        <li><a routerLink="/cart">Cart ({{cartService.cartCount()}})</a></li>
        <ng-container *ngIf="(authService.user$ | async) as user; else loginLinks">
          <li><a routerLink="/account">Account</a></li>
          <li><a (click)="logout($event)">Logout ({{user.email}})</a></li>
        </ng-container>
        <ng-template #loginLinks>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/register">Register</a></li>
        </ng-template>
      </ul>
    </nav>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="container">
    <p>&copy; 2024 Sneaker Shop. All rights reserved.</p>
  </div>
</footer>
